In [36]:
# -*- coding: utf-8 -*-#

A = float(input())
B = float(input())
C = float(input())



MEDIA = (A*2 + B*3 + C*5) / 10


print(f"MEDIA = {MEDIA:.1f}")

ValueError: could not convert string to float: ''

# LEITURA E ESCRITA DE ARQUIVOS

In [44]:
f = open('dados_sensor.txt', 'r')

In [49]:
linhas = f.readlines()

for i, linha in enumerate(linhas):
    print(f"linha: {i}  {linha}", end='')
f.close

In [48]:
arquivo = open("meu_arquivo.txt", 'w')
arquivo.write("Hello World!")
arquivo.close

In [51]:
with open ("meu_arquivo.txt", 'r') as f:
    conteudo = f.read()
    print(conteudo)

Hello World!

In [52]:
import csv

with open('dados_sensor.csv', newline='') as csvfile:
    leitor = csv.reader(csvfile)
    for linha in leitor:
        print(linha)

['Data', 'Hora', 'Temperatura']
['24/08/01', '00:00', '17.2°C']
['24/08/01', '04:00', '17.8°C']
['24/08/01', '08:00', '30.0°C']
['24/08/01', '12:00', '28.2°C']
['24/08/01', '16:00', '22.0°C']
['24/08/01', '20:00', '27.1°C']
['24/08/02', '00:00', '30.7°C']
['24/08/02', '04:00', '32.5°C']
['24/08/02', '08:00', '24.7°C']
['24/08/02', '12:00', '32.3°C']
['24/08/02', '16:00', '34.1°C']
['24/08/02', '20:00', '22.5°C']
['24/08/03', '00:00', '23.4°C']
['24/08/03', '04:00', '26.0°C']
['24/08/03', '08:00', '26.5°C']
['24/08/03', '12:00', '15.4°C']
['24/08/03', '16:00', '17.2°C']
['24/08/03', '20:00', '21.3°C']
['24/08/04', '00:00', '23.3°C']
['24/08/04', '04:00', '24.9°C']
['24/08/04', '08:00', '29.4°C']
['24/08/04', '12:00', '32.3°C']
['24/08/04', '16:00', '28.4°C']
['24/08/04', '20:00', '31.4°C']
['24/08/05', '00:00', '27.0°C']
['24/08/05', '04:00', '26.5°C']
['24/08/05', '08:00', '28.1°C']
['24/08/05', '12:00', '26.9°C']
['24/08/05', '16:00', '25.8°C']
['24/08/05', '20:00', '26.3°C']
['24/08/06', '00:00', '27.4°C']
['24/08/06', '04:00', '15.0°C']
['24/08/06', '08:00', '16.3°C']
['24/08/06', '12:00', '21.1°C']
['24/08/06', '16:00', '32.6°C']
['24/08/06', '20:00', '28.2°C']
['24/08/07', '00:00', '33.6°C']
['24/08/07', '04:00', '33.7°C']
['24/08/07', '08:00', '19.3°C']
['24/08/07', '12:00', '15.9°C']
['24/08/07', '16:00', '24.9°C']
['24/08/07', '20:00', '24.8°C']
['24/08/08', '00:00', '34.1°C']
['24/08/08', '04:00', '22.4°C']
['24/08/08', '08:00', '17.5°C']
['24/08/08', '12:00', '24.6°C']
['24/08/08', '16:00', '33.0°C']
['24/08/08', '20:00', '17.5°C']
['24/08/09', '00:00', '25.3°C']
['24/08/09', '04:00', '32.0°C']
['24/08/09', '08:00', '31.4°C']
['24/08/09', '12:00', '16.1°C']
['24/08/09', '16:00', '19.4°C']
['24/08/09', '20:00', '34.8°C']
['24/08/10', '00:00', '19.4°C']
['24/08/10', '04:00', '16.6°C']
['24/08/10', '08:00', '23.6°C']
['24/08/10', '12:00', '31.3°C']
['24/08/10', '16:00', '19.9°C']
['24/08/10', '20:00', '31.7°C']
['24/08/11', '00:00', '16.1°C']
['24/08/11', '04:00', '34.5°C']
['24/08/11', '08:00', '20.5°C']
['24/08/11', '12:00', '23.5°C']
['24/08/11', '16:00', '17.4°C']
['24/08/11', '20:00', '28.3°C']
['24/08/12', '00:00', '22.2°C']
['24/08/12', '04:00', '20.5°C']
['24/08/12', '08:00', '19.7°C']
['24/08/12', '12:00', '31.5°C']
['24/08/12', '16:00', '27.2°C']
['24/08/12', '20:00', '34.1°C']
['24/08/13', '00:00', '30.3°C']
['24/08/13', '04:00', '31.4°C']
['24/08/13', '08:00', '28.9°C']
['24/08/13', '12:00', '21.0°C']
['24/08/13', '16:00', '15.3°C']
['24/08/13', '20:00', '31.7°C']
['24/08/14', '00:00', '25.8°C']
['24/08/14', '04:00', '29.2°C']
['24/08/14', '08:00', '34.7°C']
['24/08/14', '12:00', '31.6°C']
['24/08/14', '16:00', '33.8°C']
['24/08/14', '20:00', '28.5°C']
['24/08/15', '00:00', '25.8°C']
['24/08/15', '04:00', '18.8°C']
['24/08/15', '08:00', '23.7°C']
['24/08/15', '12:00', '28.7°C']
['24/08/15', '16:00', '24.3°C']
['24/08/15', '20:00', '15.7°C']
['24/08/16', '00:00', '20.8°C']
['24/08/16', '04:00', '19.8°C']
['24/08/16', '08:00', '15.1°C']
['24/08/16', '12:00', '19.8°C']
['24/08/16', '16:00', '30.9°C']
['24/08/16', '20:00', '25.3°C']
['24/08/17', '00:00', '15.4°C']
['24/08/17', '04:00', '21.2°C']
['24/08/17', '08:00', '24.7°C']
['24/08/17', '12:00', '34.4°C']
['24/08/17', '16:00', '28.3°C']
['24/08/17', '20:00', '26.2°C']
['24/08/18', '00:00', '22.3°C']
['24/08/18', '04:00', '31.4°C']
['24/08/18', '08:00', '17.3°C']
['24/08/18', '12:00', '33.5°C']
['24/08/18', '16:00', '23.9°C']
['24/08/18', '20:00', '18.3°C']
['24/08/19', '00:00', '15.6°C']
['24/08/19', '04:00', '29.9°C']
['24/08/19', '08:00', '25.4°C']
['24/08/19', '12:00', '24.9°C']
['24/08/19', '16:00', '24.6°C']
['24/08/19', '20:00', '28.6°C']
['24/08/20', '00:00', '22.6°C']
['24/08/20', '04:00', '28.7°C']
['24/08/20', '08:00', '19.4°C']
['24/08/20', '12:00', '31.1°C']
['24/08/20', '16:00', '26.6°C']
['24/08/20', '20:00', '22.1°C']
['24/08/21', '00:00', '34.3°C']
['24/08/21', '04:00', '34.0°C']
['24/08/21', '08:00', '30.2°C']
['24/08/21', '12:00', '20.1°C']
['24/08/21', '16:00', '22.5°C']
['24/08/21', '20:00', '24.8°C']
['24/08/22', '00:00', '23.6°C']
['24/08/22', '04:00', '30.4°C']
['24/08/22', '08:00', '25.3°C']
['24/08/22', '12:00', '23.0°C']
['24/08/22', '16:00', '30.1°C']
['24/08/22', '20:00', '15.8°C']
['24/08/23', '00:00', '19.9°C']
['24/08/23', '04:00', '16.0°C']
['24/08/23', '08:00', '18.3°C']
['24/08/23', '12:00', '17.9°C']
['24/08/23', '16:00', '18.1°C']
['24/08/23', '20:00', '32.5°C']
['24/08/24', '00:00', '18.4°C']
['24/08/24', '04:00', '21.5°C']
['24/08/24', '08:00', '17.9°C']
['24/08/24', '12:00', '26.1°C']
['24/08/24', '16:00', '15.2°C']
['24/08/24', '20:00', '26.0°C']
['24/08/25', '00:00', '20.0°C']
['24/08/25', '04:00', '31.6°C']
['24/08/25', '08:00', '23.5°C']
['24/08/25', '12:00', '26.6°C']
['24/08/25', '16:00', '18.3°C']
['24/08/25', '20:00', '30.9°C']
['24/08/26', '00:00', '33.2°C']
['24/08/26', '04:00', '33.7°C']
['24/08/26', '08:00', '17.9°C']
['24/08/26', '12:00', '30.6°C']
['24/08/26', '16:00', '15.1°C']
['24/08/26', '20:00', '23.5°C']
['24/08/27', '00:00', '26.8°C']
['24/08/27', '04:00', '18.3°C']
['24/08/27', '08:00', '25.8°C']
['24/08/27', '12:00', '16.6°C']
['24/08/27', '16:00', '21.9°C']
['24/08/27', '20:00', '27.7°C']
['24/08/28', '00:00', '19.6°C']
['24/08/28', '04:00', '25.6°C']
['24/08/28', '08:00', '15.2°C']
['24/08/28', '12:00', '23.0°C']
['24/08/28', '16:00', '24.5°C']
['24/08/28', '20:00', '16.1°C']
['24/08/29', '00:00', '26.2°C']
['24/08/29', '04:00', '23.3°C']
['24/08/29', '08:00', '23.0°C']
['24/08/29', '12:00', '17.3°C']
['24/08/29', '16:00', '21.7°C']
['24/08/29', '20:00', '32.8°C']
['24/08/30', '00:00', '23.3°C']
['24/08/30', '04:00', '20.6°C']
['24/08/30', '08:00', '22.5°C']
['24/08/30', '12:00', '30.3°C']
['24/08/30', '16:00', '27.2°C']
['24/08/30', '20:00', '25.9°C']
['24/08/31', '00:00', '25.8°C']
['24/08/31', '04:00', '31.3°C']
['24/08/31', '08:00', '23.9°C']
['24/08/31', '12:00', '30.5°C']
['24/08/31', '16:00', '26.6°C']
['24/08/31', '20:00', '26.3°C']

In [59]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ryzen 5\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ryzen 5\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ryzen 5\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ryzen 5\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ryzen 5\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ryzen 5\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [63]:
data = {
    'Nome'       : ['Marcia', 'Joaoquin', 'Lucas', 'Ester', 'Gabriel'],
    'Filhos'     : [0, 3, 1, 1, 0],
    'Cidade'     : ['São Paulo', 'Porto Alegre', 'Belo Horizonte', 'Brasília', 'Maceió'],
    'Nascimento' : ['2002-11-01', '1990-03-06', '1995-04-29', '2000-01-10', '1999-10-09'],
}

import pandas as pd
df = pd.DataFrame(data)
df

       Nome  Filhos          Cidade  Nascimento
0    Marcia       0       São Paulo  2002-11-01
1  Joaoquin       3    Porto Alegre  1990-03-06
2     Lucas       1  Belo Horizonte  1995-04-29
3     Ester       1        Brasília  2000-01-10
4   Gabriel       0          Maceió  1999-10-09

In [64]:
df.head(n=2)

       Nome  Filhos        Cidade  Nascimento
0    Marcia       0     São Paulo  2002-11-01
1  Joaoquin       3  Porto Alegre  1990-03-06

In [65]:
df.tail(n=2)

      Nome  Filhos    Cidade  Nascimento
3    Ester       1  Brasília  2000-01-10
4  Gabriel       0    Maceió  1999-10-09

In [66]:
df.dtypes

Nome          object
Filhos         int64
Cidade        object
Nascimento    object
dtype: object

# Aula 4 modulo 3 TRABALHANDO COM ARQUIVOS CSV, EXCEL E OUTROS FORMATOS.

In [72]:
df2 = pd.read_csv('dados_sensor.csv')
df2

         Data   Hora Temperatura
0    24/08/01  00:00      17.2°C
1    24/08/01  04:00      17.8°C
2    24/08/01  08:00      30.0°C
3    24/08/01  12:00      28.2°C
4    24/08/01  16:00      22.0°C
..        ...    ...         ...
181  24/08/31  04:00      31.3°C
182  24/08/31  08:00      23.9°C
183  24/08/31  12:00      30.5°C
184  24/08/31  16:00      26.6°C
185  24/08/31  20:00      26.3°C

[186 rows x 3 columns]

In [73]:
df2.head(3)

       Data   Hora Temperatura
0  24/08/01  00:00      17.2°C
1  24/08/01  04:00      17.8°C
2  24/08/01  08:00      30.0°C